<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DALL.Properties.Settings.LTWNCConnectionString" connectionString="Data Source=DESKTOP-BDFTKDM\SQLEXPRESS;Initial Catalog=LTWNC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DALL.Properties.Settings.QUANLYNHAHANGConnectionString"
            connectionString="Data Source=DESKTOP-BDFTKDM\SQLEXPRESS;Initial Catalog=QUANLYNHAHANG;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>